/* header {
  display: flex;
  justify-content: flex-end;
} */
:root {
  --primary-font: "DM Serif Display", serif;
  --main-font: "Lora", serif;
  --main-color: rgb(20, 33, 61);
  --light-color: #e5e5e5;
  --accent-color: rgb(117, 161, 162);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--light-color);
}
main {
  padding: 100px 40px 0 40px;
  max-width: 1320px;
  margin: 0 auto;
  min-height: calc(100vh - 101px);
}
header {
  position: fixed;
  background-color: rgba(229, 229, 229, 0.9);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}
.logo {
  padding: 15px;
  text-decoration: none;
  background-color: var(--main-color);
  font-family: var(--main-font);
  color: white;
  font-size: 20px;
}
.navigation {
  display: flex;
  padding-left: 15px;
}
.nav__link {
  text-decoration: none;
  color: var(--main-color);
  margin: 0 15px;
  position: relative;
  font-size: 18px;
}

.nav__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease-out;
}
.nav__link:hover:before,
.nav__link:focus:before {
  width: 100%;
}
.menu-icon {
  display: none;
}
.social svg {
  width: 35px;
  height: auto;
  opacity: 0.6;
  margin: 5px 0;
}
.social svg:hover {
  opacity: 1;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 65px;
  right: 40px;
}
h1,
h2 {
  font-family: var(--primary-font);
}
br {
  display: none;
}
h2 {
  font-size: 35px;
}
h1 {
  font-size: 50px;
}
h3 {
  font-family: var(--main-font);
  font-size: 23px;
}
h1 {
  display: inline;
  position: relative;
  z-index: 5;
}
h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--accent-color);
  bottom: 7px;
  left: 0;
  right: 0;
  z-index: -5;
  opacity: 0.3;
}
.about-button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: white;
  background-color: var(--main-color);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out 0s;
}

.about-button:hover {
  box-shadow: 0px 15px 20px rgba(117, 161, 162, 0.5);
  transform: translateY(-5px);
}

.about-button:active {
  transform: translateY(-1px);
}
.home-description {
  border-bottom: 1px solid rgba(117, 161, 162, 0.5);
  padding-bottom: 50px;
}
.projects-container {
  padding: 40px 0;
}
h4 {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 35px;
}
.project-number {
  font-family: var(--primary-font);
  font-size: 50px;
  color: var(--accent-color);
  opacity: 0.4;
  line-height: 1;
}
h5 {
  font-size: 40px;
  font-family: var(--primary-font);
}
.project-description {
  font-size: 20px;
}
.project-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.project-button:hover {
  box-shadow: 0px 15px 20px rgba(117, 161, 162, 0.5);
  transform: translateY(-5px);
}

.projectt-button:active {
  transform: translateY(-1px);
}
footer {
  background-color: var(--main-color);
  padding: 20px 40px;
  color: var(--light-color);
}
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding: 5px;
}
.footer-content div:nth-child(1) {
  font-size: 25px;
}
.footer-links a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: var(--light-color);
}
footer a {
  color: white;
}
/* about page */
.profile-picture {
  max-width: 500px;
  display: block;
  margin: auto;
}

.about-me-description {
  display: block;
  margin: auto;
}
.about-me-description p {
  margin-top: 20px;
}
.sidebar__contacts {
  display: none;
}
@media screen and (max-width: 1000px) {
  .h1__projects::before {
    display: none;
  }
  .sidebar__projects {
    right: 25px;
  }
}
@media screen and (max-width: 992px) {
  main {
    padding-top: 100px;
  }
  .fixed {
    overflow: hidden;
    height: 100vh;
  }
  .social svg {
    width: 30px;
  }
  .sidebar {
    right: 18px;
  }
  .about-project {
    padding: 15px !important;
    position: relative;
  }
  .project-number {
    font-size: 55px;
    position: absolute;
    right: 15px;
    top: 0px;
  }
  .project-name {
    font-size: 35px;
  }
  .project-description {
    font-size: 18px;
  }
  footer {
    padding: 20px 40px;
  }
  .footer-content div:nth-child(1) {
    font-size: 23px;
  }
  .about__main-content {
    position: relative;
  }
  .profile-picture {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 200px;
  }
  .h5__projects {
    font-size: 30px;
  }
  .h5__projects::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    z-index: 10;
  }

  .menu-icon path {
    stroke-width: 25;
    stroke-linecap: round;
    stroke: black;
    fill: none;
    transition: all 0.5s ease-in-out;
  }
  .top_bar,
  .bottom_bar {
    stroke-dasharray: 240px 910px;
  }

  .middle_bar {
    stroke-dasharray: 240px 240px;
  }

  /* In cross form */
  .open path {
    stroke: white;
  }
  .open .top_bar,
  .open .bottom_bar {
    stroke-dashoffset: -650px;
  }

  .open .middle_bar {
    stroke-dasharray: 0px 220px;
    stroke-dashoffset: -120px;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 40px;
    background: var(--main-color);
    transform: translateY(-100%);
    transition: transform 0.5s;
    flex-direction: column;
  }
  .nav__link {
    color: white;
    margin: 15px 0;
  }
  .nav__link:hover {
    text-decoration: underline;
  }
  .nav__link:before {
    display: none;
  }

  .navigation.active {
    transform: translateY(0);
  }
  .sidebar {
    display: none;
  }
  .img-container {
    display: none;
  }
  .about-project {
    padding: 10px 0;
    position: relative;
    margin-bottom: 20px;
  }
  .about-project::before {
    content: "";
    position: absolute;
    border-top: 2px solid rgba(117, 161, 162, 0.5);
    border-right: 2px solid rgba(117, 161, 162, 0.5);
    height: 60%;
    width: 50%;
    right: 0px;
    top: 0px;
  }
  .project-number {
    top: 10px;
  }
  h5 {
    position: relative;
    display: inline-block;
  }
  h5::before {
    content: "";
    position: absolute;
    height: 20px;
    background-color: var(--accent-color);
    width: 100%;
    left: 0;
    right: 0;
    top: 17px;
    z-index: -5;
    opacity: 0.3;
  }
  .profile-picture {
    top: 40px;
    width: 250px;
  }
  br {
    display: block;
  }
  .h5__projects {
    font-size: 25px;
  }
  footer {
    position: relative;
  }
  .footer p {
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .profile-picture {
    width: 190px;
    right: 0px;
    top: 50px;
  }
  h1::before {
    display: none;
  }
  .footer-content div:nth-child(1) {
    font-size: 18px;
  }
  .footer-content div:nth-child(2) {
    display: none;
  }
  .footer-links a {
    font-size: 16px;
  }
  .h1__projects {
    font-size: 35px;
  }
  .h__contacts {
    font-size: 40px;
  }
}
